/* body{
    margin-top: 10px;
} */

.register-login-buttons{
    background-color: #6C5DD3;
    color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border: none;
}

.register-login-buttons:hover,
  .register-login-buttons:focus{
    background-color: #6C5DD3 !important;
    color: white !important;
    border-radius: 8px !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2) !important;
    border: none !important; 
  }

  .register-login-buttons:active{
    background-color: white !important;
    color: #6C5DD3 !important;
    border: none !important; 
  }