/*Sidebar Styling */
.sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 200px; /* Set width for desktop */
    border-right:1px solid #dadbdd;
  }
  
  .sidebar-icon {
    color: #A0A4AA;
    font-size: 1.5rem; /* Icon size */
    height: 20px;
  }
  
  .sidebar-text {
    color: #9D9DAA;
    font-size: 0.9rem; /* Text size */
    font-weight: 0;
  }
  
  /* Tablet View (Only show icons) */
  @media (max-width: 992px) {
    .sidebar {
      width: 80px; /* Narrow sidebar */
    }
    
    .sidebar-text {
      display: none; /* Hide text, show only icons */
    }
  }
  
  /* Mobile View (Sidebar at the bottom) */
  @media (max-width: 576px) {
    .sidebar {
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%; /* Full width at the bottom */
      height: 60px; /* Height for the bottom bar */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      z-index: 10;
      background-color: white;
    }
  
    .sidebar-icon {
      font-size: 1.5rem;
    }
  
    .sidebar-text {
      display: none; /* Hide text for mobile */
    }
  
    .sidebar-item {
      flex: 1; /* Each icon takes equal space */
    }
  }
  